<h1>Wahnsinn</h1>
<p>Es war einmal, vor langer, langer Zeit...</p>
<p>Eine Gruppe von angehenden Informatikern machte sich auf den Weg gegen den rubischen Giganten zu kämpfen.</p>
<br>
<p>Schluss</p>

